.table-responsive {
  height: 100vh;
  max-height: 100vh;
  overflow-y: scroll;
  position: relative;
}

table {
  position: relative;
  border-collapse: collapse;
}

th {
  background: #ecf0f1;
  position: sticky;
  top: 0; /* Don't forget this, required for the stickiness */
}
